<div class="Page-Area">
  <%= link_to(request.referer) do %>
    <div class="Back-Link-Area">
      <div class="Back-Link-Icon">
        <span class="material-icons-outlined">
        undo
        </span>
      </div>
      <div class="Back-Link-Text">
      申請管理へ戻る
      </div>
    </div>
  <% end %>
  <div class="Page-Title">
    イベント作成申請
  </div>
  <div class="Page-Text">
    新たなイベントを申請することが可能です。
  </div>
  <div class="DashBoard">
    <% if @request.errors.any? %>
      <div class="alert alert-danger" role="alert">
          <strong><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</strong>
          <ul class="list-group mt-2">
          <% @request.errors.full_messages.each do |message| %>
              <li class="list-group-item list-group-item-danger"><%= message %></li>
          <% end %>
          </ul>
      </div>
    <% end %>

    <%= form_with model: @request, url: create_request_events_path, local: true do |f| %>
        <div class="form-group">
            <div class="form-title">
                イベントタイトル
            </div>
            <%= f.text_field :event_title, class: 'form-control' %>
        </div>
        <div class="form-group">
            <div class="form-title">
                イベント概要
            </div>
            <%= f.text_area :event_description, class: 'form-control' %>
        </div>

        <div class="form-group">
            <div class="form-title">
                イベント開始日時
            </div>
            <%= f.datetime_field :event_start_date_time, class: 'form-control' %>
        </div>

        <div class="form-group">
            <div class="form-title">
                イベント終了日時
            </div>
            <%= f.datetime_field :event_end_date_time, class: 'form-control' %>
        </div>
        <div class="form-group">
            <div class="form-title">
                イベント告知日
            </div>
            <%= f.date_field :event_announcement_date, class: 'form-control' %>
        </div>

        <div class="form-group">  
            <%= f.submit('申請する', {class: 'btn-action'}) %>
        </div>
    <% end %>
  </div>
</div>
